name: Build and lint
run-name: Build and lint (Linux, MacOS, Windows)

on:
  pull_request:
    branches:
      master

permissions:
  contents: read

# Information about runner images may be found at
# https://github.com/actions/runner-images/tree/main.
jobs:
  # Initialize build artifacts.
  initialize:
    runs-on: ubuntu-latest
    # Cursed? Yes, but does it work? Also yes.
    continue-on-error: true
    steps:
      - name: Create an empty file
        run: touch uwu.txt
      - name: Initialize build-linux
        uses: actions/upload-artifact@v6
        with:
          name: build-linux
          path: uwu.txt
          overwrite: false
      - name: Initialize build-macos
        uses: actions/upload-artifact@v6
        with:
          name: build-macos
          path: uwu.txt
          overwrite: false
      - name: Initialize build-windows
        uses: actions/upload-artifact@v6
        with:
          name: build-windows
          path: uwu.txt
          overwrite: false

  # Latest Ubuntu.
  build-and-lint-linux:
    needs: initialize
    runs-on: ubuntu-latest
    steps:
      - name: Checkout working branch
        uses: actions/checkout@v6
      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-linux
      - name: Build CMake project for Linux
        run: ./scripts/build-ci.sh
      - name: Run clang-tidy (lint)
        run: clang-tidy --config-file=.clang-tidy -p build/compile_commands.json src/*
      - name: Run clang-format (style checks)
        run: clang-format --Werror --dry-run src/*
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-linux
          path: build
          overwrite: true

  # MacOS 15 (arm64).
  build-macos:
    needs: build-and-lint-linux
    runs-on: macos-latest
    steps:
      - name: Checkout working branch
        uses: actions/checkout@v6
      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-macos
      - name: Build CMake project for MacOS
        run: ./scripts/build-ci.sh
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-macos
          path: build
          overwrite: true

  # Windows Server 2025.
  build-windows:
    needs: build-macos
    runs-on: windows-latest
    steps:
      - name: Run vswhere
        run: vswhere
