name: Initialize build artifacts
run-name: Initialize build artifacts

on:
  workflow_dispatch

jobs:
  initialize:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize build-linux
        uses: actions/upload-artifact@v6
        with:
          name: build-linux
      - name: Initialize build-macos
        uses: actions/upload-artifact@v6
        with:
          name: build-macos
      - name: Initialize build-windows
        uses: actions/upload-artifact@v6
        with:
          name: build-windows